{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "commonjs": true
    },
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "comma-dangle": "off",
        "indent": ["error", 4],
        "no-console": "off",
        "padded-blocks": "off",
        "space-infix-ops": "off",

        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",

        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-tag-spacing": "off"
    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }    
}
